[Unit]
Description=AegisAdmin privileged system backend
Documentation=file:/usr/local/share/doc/aegisadmin-system-go/DEPLOYMENT.md
After=local-fs.target

[Service]
Type=simple
User=root
Group=aegisadmin-web
SupplementaryGroups=
ExecStart=/usr/libexec/aegisadmin/aegisadmin-daemon -socket /run/aegisadmin-system/backend.sock
Restart=on-failure
RestartSec=2s
RuntimeDirectory=aegisadmin-system
RuntimeDirectoryMode=0750
UMask=0027

NoNewPrivileges=true
AmbientCapabilities=CAP_SETUID CAP_SETGID
PrivateTmp=true
ProtectSystem=strict
ProtectHome=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectKernelLogs=true
ProtectControlGroups=true
ProtectClock=true
LockPersonality=true
MemoryDenyWriteExecute=true
RestrictRealtime=true
RestrictSUIDSGID=false
RestrictAddressFamilies=AF_UNIX AF_NETLINK AF_INET AF_INET6
SystemCallArchitectures=native
ReadWritePaths=/run/aegisadmin-system /etc /usr /var -/boot -/opt

[Install]
WantedBy=multi-user.target
